@model IEnumerable<OneToOneRelation.Models.Skill>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.skillName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.skillName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emp.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.skillId">Edit</a> |
                
                <a asp-action="Delete" asp-route-id="@item.skillId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
